* {
  margin: 0;
  padding: 0;
}

body {
  height: 3000px;
  background-image: url(unsplashBg.jpg);
  background-size: contain, cover;

  background-position: top;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-bar {
  display: flex;
  background-color: rgb(65, 65, 71);
  justify-content: center;
}
.menu-bar ul {
  list-style: none;
  display: inline-flex;
}
.menu-bar ul li {
  text-align: center;
  font-size: 17px;

  padding: 1.3rem 1.8rem;
  width: 5rem;
  color: white;
  background-color: rgb(65, 65, 71);
}
..menu-bar ul li.active,
.menu-bar ul li:hover {
  background-color: gray;
}
.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

